.btn {
    color: #CC0000;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0;
    font-size: 1rem;

    i {
        color: white;
    }
    align-self: end;
    background-color: rgb(255, 255, 204);
}