.proyectos-destacados{
    padding: 2rem;
    text-align: center;
    
    color:rgb(255, 255, 204);
}

    .titulo-proyecto{

        font-size: 30pt;
        padding-bottom: 4rem;
     
        
    }
    .proyecto-columnas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;
        
        i{
            color:rgb(255, 255, 204);
            font-size: 30pt;
    }


        h2{
            color: #CC0000;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 30pt;
        }
    }



@media (max-width:1000px){


}    

@media  (max-width:700px){
    .proyecto-columnas{ 
        display:grid;
        grid-row: inherit;
        grid-template-columns: auto; 
    }



}
    


@media  (max-width:450px){


}